@keyframes header {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes title {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes body{
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes hov{
    from {opacity: 0;}
    to {opacity: 1;}
  }
@import url(//fonts.googleapis.com/css?family=Poppins);

#title
{
    color: #0B0B45;
    text-align: center;
    font-family: 'Poppins';
    text-transform: uppercase;
}


@media screen and (min-width: 700px){
    #main {
    background: linear-gradient(30deg, #E0E0E0, #0B0B4544);
    margin:0 auto;
    width: 700px;
    display: block;
    padding: 1em;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 10px 5px grey;
}
}

@media screen and (max-width: 700px){
    #main {
        background: linear-gradient(30deg, #E0E0E0, #0B0B4544);
        float: none;
        width: 100%;
        margin:0 auto;
        padding: 1em;
        border-radius: 20px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 600px) {
    .header {
      float: none;
      width: 100%;
    }
  }

body
{
    background-color: #F0F0F0;
    animation-name: body;
    animation-duration: 1s;
}

img
{
    display: block;
    margin: auto;
    width: 300px;
}
.explanation
{
    color: #0B0B45;
    text-align: center;
    font-family: 'Poppins';   
}

.flex-item{
    flex-grow: 0.03;
}


.explanation a:link
{
    width: 3px;
    padding: 3px;
    color: #0B0B45;
    text-decoration: none;
    font-family: 'Poppins';
}

.explanation a:hover
{
    width: 3px;
    padding: 3px;
    border: 2px solid #0B0B45;
    border-radius: 3px;
    background-color:lightgrey;
    color: #0B0B45;
    text-decoration: none;
    font-family: 'Poppins';
    animation-name: hov;
    animation-duration: 0.2s;
}
.explanation a:visited
{
    width: 3px;
    padding: 3px;
    color: #0B0B45;
    text-decoration: none;
    font-family: 'Poppins';
}
.explanation a:visited:hover
{
    width: 3px;
    padding: 3px;
    border: 2px solid #0B0B45;
    border-radius: 3px;
    background-color:lightgrey;
    color: #0B0B45;
    text-decoration: none;
    font-family: 'Poppins';
    animation-name: hov;
    animation-duration: 0.2s;
}
.container{
    display: flex;
}

#navbar {
    background-color:#0B0B45;
    border-radius: 0px 0px 8px 8px;
    transform: translateY(calc(-100% + 10px));
    transition: transform .4s cubic-bezier(.4, 0, .2, 1) .2s;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.header:hover #navbar {
transform: translateY(0);
transition-delay: 0s;
}
#navbar {
    position: relative;
  }
  
.container a:link
{
    float: left;
    display: block;
    padding: 5px;
    color: #DCDCDC;
    border: 2px solid #0B0B45FF;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Poppins';
    background-color: transparent;
}
.container a:hover
{
    float: left;
    display: block;
    padding: 5px;
    border: 2px solid #CCC;
    border-radius: 3px;
    background-color: lightgrey;
    text-decoration: none;
    color: #0B0B45;
    font-family: 'Poppins';
    animation-name: hov;
    animation-duration: 0.2s;
}
.container a:visited
{
    float: left;
    display: block;
    padding: 5px;
    color: #DCDCDC;
    border: 2px solid #0B0B45FF;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Poppins';
    background-color: transparent;
}
.container a:visited:hover
{
    float: left;
    display: block;
    padding: 5px;
    border: 2px solid #CCC;
    border-radius: 3px;
    background-color: lightgrey;
    text-decoration: none;
    color: #0B0B45;
    font-family: 'Poppins';
    animation-name: hov;
    animation-duration: 0.2s;
}
.header {
    height: 60px;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
  
.outer > * {
    display:inline-block;
    vertical-align:middle;
    background-color:lightgreen;
}

.git{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textarea{
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
  
}