@keyframes header {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes title {
    from {opacity: 0;}
    to {opacity: 1;}
  }
@keyframes body{
    from {opacity: 0;}
    to {opacity: 1;}
  }
#title
{
    color: #0B0B45;
    text-align: center;
    font-family: Roboto;
}

#main
{
    background-color:#E0E0E0;
    margin: auto;
    width: 700px;
    padding: 1em;
    box-sizing: border-box;
}
  
body
{
    background-color: #F0F0F0;
    animation-name: body;
    animation-duration: 2s;
}

img
{
    display: block;
    margin: auto;
    width: 300px;
}

.explanation
{
    color: #0B0B45;
    text-align: center;
    font-family: Roboto;   
}
.fixed{
    margin-left: 15px;
    width: 140px;
}
.flex-item{
    flex-grow: 0.03;
}

.explanation a:link
{
    width: 3px;
    padding: 3px;
    color: #0B0B45;
    text-decoration: none;
    font-family: Roboto;
}

.explanation a:hover
{
    width: 3px;
    padding: 3px;
    border: 2px solid #0B0B45;
    border-radius: 3px;
    background-color:lightgrey;
    color: #0B0B45;
    text-decoration: none;
    font-family: Roboto;
}
.explanation a:visited
{
    width: 3px;
    padding: 3px;
    color: #0B0B45;
    text-decoration: none;
    font-family: Roboto;
}
.explanation a:visited:hover
{
    width: 3px;
    padding: 3px;
    border: 2px solid #0B0B45;
    border-radius: 3px;
    background-color:lightgrey;
    color: #0B0B45;
    text-decoration: none;
    font-family: Roboto;
}
.container{
    display: flex;
}
.container a:link
{
    width: 5px;
    padding: 5px;
    color: #DCDCDC;
    border: 2px solid #0B0B45FF;
    border-radius: 3px;
    background-color: #0B0B45FF;
    text-decoration: none;
    font-family: Roboto;
    background-color: transparent;
}
.container a:hover
{
    width: 5px;
    padding: 5px;
    border: 2px solid #CCC;
    border-radius: 3px;
    background-color: #2B2B45FF;
    text-decoration: none;
    color: #DCDCDC;
    font-family: Roboto;
}
.container a:visited
{
    width: 5px;
    padding: 5px;
    color: #DCDCDC;
    border: 2px solid #0B0B45FF;
    border-radius: 3px;
    background-color: #0B0B45FF;
    text-decoration: none;
    font-family: Roboto;
    background-color: transparent;
}
.container a:visited:hover
{
    width: 3px;
    padding: 5px;
    border: 2px solid #CCC;
    border-radius: 3px;
    background-color: #2B2B45FF;
    text-decoration: none;
    color: #DCDCDC;
    font-family: Roboto;
}
.header {
    padding: 25px;
    background: #0B0B45;
    color: white;
    font-family: Roboto;
    animation-name: header;
    animation-duration: 2s;
  }
.outer > * {
    display:inline-block;
    vertical-align:middle;
    background-color:lightgreen;
}
