title
{
    color: #36DBDC;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main
{
    background-color:#1C6EA4;
    margin: auto;
    width: 400px;
    padding: 1em;
    box-sizing: border-box;
}
  
body
{
    background-color: #fcb714;
}

img
{
    margin: auto;
    width: 300px;
}

#explanation
{
    color: #252379;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    
}